.nav-container a:nth-child(3){
    background-color: #01aeea;
    color: white;
    border-radius: 30px;
}
.lances-container{
    background-image: linear-gradient(to right, #01aeea , rgb(0, 0, 0));
}
.lances-container p{
    background-image: linear-gradient(to right, #01aeea , rgb(0, 0, 0));
    padding: 20px; 
    box-shadow: 0px 8px 15px 1px rgba(0,0,0,0.72);
}